@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Phudu:wght@400;500;700&display=swap');

body {
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    )
    no-repeat !important; */
  background: url(../src/images/bg.jpg) center / cover no-repeat !important;
  height: 100vh;
  margin: 0;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
}

main {
  padding-bottom: 80px;
}
